.App {
  text-align: left;
}

.NavLinks {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}
 #title {
   padding-bottom: 50px;
 }

 .productImage {
   height: 150px;
   width: 150px;
 }
 #productsbtn {
  height: 25px;
  width: 240px;
  line-height: 5px;
  text-align: center;
  vertical-align: middle;
  color: white;
 }